---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Josue, a <b class="font-bold"
        >Senior Enterprise Support Specialist</b
      > with a <b class="font-bold">Systems Engineering</b> background. I specialize
      in <b class="font-bold"
        >diagnosing and resolving complex technical issues</b
      > for enterprise clients, ensuring optimal system performance.
    </p>
    <p class="text-sm font-light">
      My expertise spans <b class="font-bold"
        >technical support operations, modern web and mobile development,
        database management, and project coordination</b
      >.
    </p>
    <p class="text-sm font-light">
      I am deeply committed to <b class="font-bold"
        >enhancing client satisfaction</b
      >, <b class="font-bold">streamlining system stability</b>, and driving <b
        class="font-bold">continuous improvement</b
      > through a meticulous, engineering-driven approach.
    </p>
  </div>
</Card>
