---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Josue, Intelligent Systems Engineer from San Luis Potosi MX.
      <br />
       My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>HTML-CSS-JS</li>
        <li>Tailwind CSS - Bootstrap</li>
        <li>React - Nodejs</li>
        <li>SQL-TSQL</li>
        <li>Figma</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I am deeply invested in honing my <b>Frontend Development</b> skills, continually learning and exploring new design trends to create exceptional user experiences. 
    </p>
    
    <p class="text-sm font-light">
      My zeal for <b>Project Management</b> drives me to continually enhance my expertise in orchestrating projects from conception to completion.
    </p>
    
  </div>
</Card>
